.info {
	font-size: 2.6em;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.info tr {
}

.info td {
	width: 25%;
	padding-top: 0.4em;
}

.info td:nth-child(odd) {
	font-weight: bold;
	padding-right: 0.5em;
	text-align: right;
}

.info td:nth-child(even) {
	text-align: left;
}

.percent {
	font-size: 0.75em;
}

.infoContainer {
	text-align: center;
}

.chartContainer {
	padding-top: 2em;
	height: 340px;
}

.chartContainer :global(.recharts-wrapper) {
	cursor: none !important;
}

.chartContainer svg {
	height: initial;
}

.outer {
	width: 100%;
}
