.info {
	font-size: 2em;
	width: 100%;
}

.info td {
	width: 50%;
}

.info td:first-of-type {
	font-weight: bold;
	padding-right: 0.5em;
	text-align: right;
}

.info td:last-of-type {
	text-align: left;
}

.percent {
	font-size: 0.75em;
}

.infoContainer {
	text-align: center;
}

.chartContainer {
	height: 320px;
}

.chartContainer svg {
	cursor: initial;
	height: initial;
}

.outer {
	width: 100%;
}
