.click {
	width: 1px;
	height: 1px;
	position: absolute;
	pointer-events: none;
}

.click::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 1;
	pointer-events: none;
	animation: anim-effect-boris 0.3s forwards;
	background: rgba(111,148,182,0.1);
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}
