.footer {
	font-size: 3vw;
	background-color: rgba(255, 255, 255, 0.1);
	border-top: solid 1px rgba(255, 255, 255, 0.3);
	height: 11.6%;
	text-align: center;
	text-overflow: no-wrap;
	display: flex;
	align-items: center;
}

.left {
	font-size: 3vw;
}

.dayOfWeek {
	padding-right: 0.4em;
}

.left,
.right {
	width: 16vw;
}

.center {
	width: 54%;
	font-size: 3vw;
	flex: 1;
}

.right > svg {
	margin: 0 0.3em;
	vertical-align: middle;
}

.bluetooth {
	font-size: 3.5vw;
	transition: fill 0.5s, filter 0.5s;
}

.settings {
	font-size: 2vw;
}

.bluetooth[data-connected] path {
	fill: #66a9ff;
	filter: drop-shadow(0 0 0.2em #b26cf7);
}

.battery.low [data-fill] {
	fill: red;
}

.battery.charging [data-fill] {
	fill: #00e300;
}

.battery [data-charge] {
	fill: black;
	stroke: white;
	stroke-width: 0.07em;
}
