.header {
	font-size: 3em;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	height: 11.6%;
	text-align: center;
	text-overflow: no-wrap;
}

.header > div {
	display: inline-block;
	height: 100%;
}

.left {
	font-size: 0.7em;
}

.dayOfWeek {
	padding-right: 0.4em;
}

.left,
.right {
	width: 23%;
}

.center {
	width: 54%;
	font-size: 0.6em;
}

.right > svg {
	margin: 0 0.3em;
	vertical-align: middle;
}

.bluetooth {
	font-size: 0.85em;
	transition: fill 0.5s, filter 0.5s;
}

.bluetooth[data-connected] path {
	fill: #66a9ff;
	filter: drop-shadow(0 0 0.2em #b26cf7);
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.battery [data-charge] {
	fill: yellow;
	opacity: 1;
	animation: flickerAnimation 3s infinite;
	stroke: black;
	stroke-width: 1px;
	stroke-linejoin: round;
}
