.header {
	font-size: 3em;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	height: 11.6%;
	text-align: center;
	text-overflow: no-wrap;
}

.header > div {
	display: inline-block;
	height: 100%;
}

.left {
	font-size: 0.7em;
}

.dayOfWeek {
	padding-right: 0.4em;
}

.left,
.right {
	width: 23%;
}

.center {
	width: 54%;
	font-size: 0.6em;
}

.right > svg {
	margin: 0 0.3em;
	vertical-align: middle;
}

.bluetooth {
	font-size: 0.85em;
	transition: fill 0.5s, filter 0.5s;
}

.bluetooth[data-connected] path {
	fill: #66a9ff;
	filter: drop-shadow(0 0 0.2em #b26cf7);
}

.battery.low [data-fill] {
	fill: red;
}

.battery.charging [data-fill] {
	fill: #00e300;
}

.battery [data-charge] {
	fill: black;
	stroke: white;
	stroke-width: 0.07em;
}
