.main {
	width: 1024px;
	height: 600px;

	color: white;
	user-select: none;
	position: relative;
	overflow: hidden;

	/**
	 * Carbon fiber gradient credit: https://stackoverflow.com/a/34556311/376773
	 */
	background-color: rgb(32, 32, 32);
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 1),
			rgba(0, 0, 0, 0) 20%,
			rgba(0, 0, 0, 0) 80%,
			rgba(0, 0, 0, 1)
		),
		linear-gradient(
			45deg,
			black 25%,
			transparent 25%,
			transparent 75%,
			black 75%,
			black
		),
		linear-gradient(
			45deg,
			black 25%,
			transparent 25%,
			transparent 75%,
			black 75%,
			black
		),
		linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
	background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
	background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.main svg {
	fill: white;
	cursor: pointer;
}

.content {
	text-align: center;
	height: 88.4%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.refresh {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
}
