.nowPlaying {
	line-height: 7vw;
	width: 96%;
}

.artist,
.track,
.album {
	overflow: hidden;
	white-space: nowrap;
}

.artist {
	font-size: 6vw;
}

.track {
	font-size: 7vw;
}

.album {
	font-size: 5vw;
}

.position {
	font-size: 4vw;
}

.label {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 12%;
}

.position .label {
	top: 0.25em;
}

.volume .label {
	top: 0.17em;
}

.controls {
	font-size: 4.3em;
	margin-bottom: 0.15em;
}

.controls svg {
	margin: 0 0.4em;
}

.volume svg {
	font-size: 3.5em;
	vertical-align: middle;
}

.volumeMin {
	position: relative;
	left: 0.25em;
}

.slider {
	display: inline-block;
	width: 74%;
}

.volumeSlider {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	height: 16px;
}

.volumeTrack {
	background-color: gainsboro;
	position: relative;
	flex-grow: 1;
	height: 2px;
}

.volumeRange {
	position: absolute;
	background-color: dodgerblue;
	border-radius: 9999px;
	height: 100%;
}

.volumeThumb {
	display: block;
	width: 16px;
	height: 16px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 20px;
}

.volumeThumb:focus {
	outline: none;
	border-color: dodgerblue;
}

.nowPlaying input[type='range'] {
	-webkit-appearance: none;
	width: 74%;
	background: transparent;
	cursor: none;
}

.progress {
	position: relative;
	height: 10px;
	overflow: hidden;
	border-radius: 5px;
	background: gainsboro;
	display: inline-block;
	width: 74%;
}

.progress > div {
	box-sizing: border-box;
	position: absolute;
	background-color: dodgerblue;
	height: 100%;
}

.nowPlaying input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.nowPlaying input[type='range']:focus {
	outline: none;
}

.nowPlaying input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 2em;
	width: 2em;
	border-radius: 1em;
	background: #ffffff;
	cursor: none;
	margin-top: -0.95em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.nowPlaying input[type='range']::-moz-range-thumb {
	border: 1px solid #000000;
	height: 2em;
	width: 2em;
	border-radius: 1em;
	background: #ffffff;
	cursor: none;
}

.nowPlaying input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.3em;
	cursor: none;
	background: white;
	border-radius: 1em;
	border: 0.2px solid #010101;
}

.nowPlaying input[type='range']::-moz-range-track {
	width: 100%;
	height: 0.3em;
	cursor: none;
	background: white;
	border-radius: 1em;
	border: 0.2px solid #010101;
}
